html
  <!DOCTYPE html>
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet', href='/stylesheets/help.css')
     
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")
      link(href="https://fonts.googleapis.com/css2?family=Fraunces&family=Nunito:wght@300&display=swap" rel="stylesheet")
      title Help!      
    body
      div.whole-wrapper
        div.help-text-wrapper 
          h2.help-title Help Page
          p(class="welcome") Welcome to the Help Page 
            i(class="bi bi-patch-question")
        
        div.help-info 
          p(class="help-info-para").
            If you are experiencing any issues with the website, contact me either 
            on Linkedin or by email and I'll be sure to fix it.
            Thanks! Here's a picture of two puppies sleeping for you to enjoy while you wait.
        div.puppy-div  
          img(src="/images/puppies.jpg", alt="puppy!" class="puppy img-thumbnail")
          br
          br
          button(class="home-page-button" id="home-page-button") Go Back To Home Page 

      script(src="/javascripts/return.js")
